
<%- include('partials/header.ejs') %>

    <!-- FeatureSection -->

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="features/f1.png" alt="Free Shipping">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="features/f2.png" alt="Fast Deliveries">
            <h6>Fast Deliveries</h6>
        </div>
        <div class="fe-box">
            <img src="features/f3.png" alt="Save Money">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="features/f4.png" alt="Perfect Gifts">
            <h6>Perfect Gifts</h6>
        </div>
        <div class="fe-box">
            <img src="features/f5.png" alt="Happy Customers">
            <h6>Happy Customers</h6>
        </div>
        <div class="fe-box">
            <img src="features/f6.png" alt="24x7 Support">
            <h6>24x7 Support</h6>
        </div>
    </section>

    <!-- ProductSection -->
    <section id="product1" class="section-p1">
        <!-- <h2>Best Sellers</h2>
        <p>Check out ours best of the bests products</p> -->
       
            <% for(var i=0; i<products.length; i++) { %>
                <div class="pro-container">
                    <div class="pro">
                        <img src="products/<%=products[i].img_name %>.jpg" alt="">
                        <div class="des">
                            <h5><%= products[i].name %></h5>
                            <h4><%= products[i].price %></h4>
                        </div>
                        <a href="#"> <i class="fal fa-shopping-cart cart"></i></a>
                    </div>
             <% } %>
        </div>
    </section>



    <%- include('partials/footer.ejs') %>